# ----------------------
# Python cache
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Virtual environments
# ----------------------
venv/
env/
.venv/

# ----------------------
# VS Code / Editor
# ----------------------
.vscode/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Data (raw datasets)
# ----------------------
data/
*.zip

# ----------------------
# Model checkpoints
# ----------------------
*.pt
*.pth
*.ckpt

# ----------------------
# Logs
# ----------------------
logs/
*.log

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db
